<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Register</h1>
        </div>
        <app-text-input label="First name" formControlName="firstName" placeholder="Mohammed"/>
        <app-text-input label="Last name" formControlName="lastName" placeholder="DABOUZ"/>
        <app-text-input label="Email" type="email" formControlName="email" placeholder="name@example.com"/>
        <app-text-input label="Password" type="password" formControlName="password" placeholder="Password"/>
        <button mat-flat-button type="submit" class="w-full py-2" [disabled]="registerForm.invalid">Register</button>
    </form>
    @if (validationErrors.length > 0) {
        <div class="mt-3 b-3 p-4 bg-red-100 text-red-600">
            <ul class="list-disc px-3">
                @for (error of validationErrors; track $index) {
                    <li>{{error}}</li>
                }

            </ul>
        </div>
    }
</mat-card>